App-TypecastTemplates-*
App-TypecastTemplates-*.tar.gz
*.bak
blib/
.build/
_build/
Build
Build.bat
cover_db/
inc/
.last_cover_stats
.lwpcookies
Makefile
Makefile.old
META.*
MYMETA.*
nytprof.out
pm_to_blib
pod2htm*.tmp
.*.swp
